@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "DM Sans", sans-serif;
}

.gradient {
    /* background: linear-gradient(to right, #6366f1, #8b5cf6); */
}

.box-shadow {
    box-shadow: rgba(14, 63, 126, 0.02) 0px 0px 0px 1px,
        rgba(42, 51, 69, 0.02) 0px 1px 1px -0.5px,
        rgba(42, 51, 70, 0.02) 0px 3px 3px -1.5px,
        rgba(42, 51, 70, 0.02) 0px 6px 6px -3px,
        rgba(14, 63, 126, 0.02) 0px 12px 12px -6px,
        rgba(14, 63, 126, 0.02) 0px 24px 24px -12px;
}

.public-background-gradient {
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(
            #fbfbfb 1.4000000000000001px,
            transparent 1.4000000000000001px
        ),
        linear-gradient(
            to right,
            #fbfbfb 1.4000000000000001px,
            #ffffff 1.4000000000000001px
        );
    background-size: 28px 28px;
}

.scroll {
    position: relative;
    display: flex;
    overflow: hidden;
    border-radius: 24px;
}

.scroll div {
    white-space: nowrap;
    animation: scroll var(--time) linear infinite;
    animation-delay: calc(var(--time) * -1);
}

.scroll div:nth-child(2) {
    animation: scroll2 var(--time) linear infinite;
    animation-delay: calc(var(--time) / -2);
}

.scroll:hover div,
.scroll:hover div:nth-child(2) {
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

.scroll div span {
    display: inline-flex;
}
